{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-left">
            {% crispy form crispy_helper %}
            <div class="clearfix">
                <button class="btn btn-primary pull-right" type="submit">Change password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
