{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h1>{% trans "Sign Up" %}</h1>

        <form class="signup text-left" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% crispy form crispy_helper %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="clearfix">
                <button class="btn btn-primary pull-right" type="submit">{% trans "Sign up" %}</button>
            </div>
        </form>

        <hr>

        <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>

    </div>
</div>

{% endblock %}


